
.{font-family: 'Lora', serif;}



#css {
    border: 0.1em solid black;
    padding: 0.02em
}

table {
  width: 22em;
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  margin: 2em
}

section table {
  width: 10em
}

h1 {
  font-weight: bold;
  color: #801515;
  text-align: center;
}

h2 {
  font-weight: bold;
  color: #801515;
}

h3 {
  font-weight: bold;
  color: #801515;
}

a {
  color: #550000
}

#mainc {
  border: 1px solid #000;
    background-color: #FFAAAA;
    padding: 3em;
    width: 5%;
    color: #DADBE6;
    text-align: center;
}

#secondc {
  border: 1px solid #000;
    background-color: #D46A6A;
    padding: 3em;
    width: 5%;
    color: #DADBE6;
    text-align: center;
}

#thirdc {
  border: 1px solid #000;
    background-color: #801515;
    padding: 3em;
    width: 5%;
    color: #DADBE6;
    text-align: center;
}
